@use 'var' as c;

.cart {
  
    margin-bottom: 90px;


    @include c.tablet {
        margin-bottom: 60px;
    }


    @include c.mobile {
        margin-bottom: 40px;
    }

    &__title {
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 24px;
        border-bottom: 1px solid c.$light-grey;

        @include c.tablet {
            font-size: 24px;
            line-height: 29px;
            padding-bottom: 15px;
        }


        @include c.mobile {
            font-size: 18px;
            line-height: 22px;
            padding-bottom: 9px;
        }
    }

    &__list {
        margin-bottom: 40px;


        @include c.tablet {
            margin-bottom: 24px;
        }


        @include c.mobile {
            margin-bottom: 16px;
        }
    }

    &__item {
        border-bottom: 1px solid c.$light-grey;
        padding: 24px 0;
    }

    &__total {
        margin-left: auto;
        max-width: 280px;
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;


        @include c.tablet {
            max-width: 140px;
        }

        @include c.mobile {
            font-size: 12px;
            line-height: 15px;
        }



    }
}