@use 'var' as c;

.color {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: block;

    &_check {
        border: 0.4px solid c.$gray;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        
    }
    &__input:checked + &__check {
        position: absolute;
        inset: 0;
        display: block;
        border: 0.4px solid c.$gray;
        border-radius: 50%;
    }

   
}